<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="aubo_robot">
  <!-- robot name parameter -->
  <!-- xacro:arg name="name" default="aubo"/-->
  <!-- parameters -->
  <xacro:include filename="$(find aubo_moveit_config)/config/aubo_i5_macro.srdf.xacro"/>

  

</robot>
